body {
  background-image: url(sky2.jpg);
}

.search-bar {
  margin-top: 80px;
  margin-left: 80px;
}

.search-button,
.current-button {
  width: 120px;
  margin-right: 15px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.current-weather {
  margin-left: 80px;
}

.current-icon {
  font-size: 90px;
}

.current-temp {
  position: relative;
  top: -130px;
  left: 130px;
}

.current-deg {
  font-size: 45px;
  margin: 0;
}

.units {
  font-size: 20px;
  position: relative;
  top: -16px;
}

#celcius,
#fahrenheit {
  color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* 5 days weather column */
.days {
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}

.weather-icon {
  font-size: 50px;
}

.five-days-container {
  column-gap: 30px;
  row-gap: 30px;
}

/* footer */
footer {
  padding-top: 50px;
}
